<a href="https://colab.research.google.com/github/Moriyke-20/Moriyke-20/blob/main/MyMsc_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, cross_val_score
import random
import numpy as np
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
import tensorflow as tf
from keras.models import Sequential
from keras.layers import LSTM, Dense, Flatten, Embedding
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn.metrics import classification_report, accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score
import joblib
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
# Load the dataset
file_path = '/Modified_SQL_Dataset.csv'
SQLIA_data = pd.read_csv(file_path)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

print(SQLIA_data)

                                                   Query  Label
0                      " or pg_sleep  (  __TIME__  )  --      1
1      create user name identified by pass123 tempora...      1
2       AND 1  =  utl_inaddr.get_host_address   (    ...      1
3       select * from users where id  =  '1' or @ @1 ...      1
4       select * from users where id  =  1 or 1#"  ( ...      1
5       select name from syscolumns where id   =     ...      1
6      select * from users where id  =  1 +$+ or 1  =...      1
7      1;  (  load_file  (  char  (  47,101,116,99,47...      1
8       select * from users where id  =  '1' or ||/1 ...      1
9       select * from users where id  =  '1' or \.<\ ...      1
10                                       ? or 1  =  1 --      1
11                                )   or   (  'a'  =  'a      1
12                                    admin' or 1  =  1#      1
13      select * from users where id  =  1 or "  (  ]...      1
14                                         or 1  =  1 --      1
15      AND 1  =  utl_inaddr.get_host_address   (    ...      1
16      select * from users where id  =  '1' %!<@ uni...      1
17      select * from users where id  =  1 or "&  (  ...      1
18      select * from users where id  =  1 or "?  (  ...      1
19                                              distinct      1
20     select * from users where id  =  '1' *  (  \  ...      1
21     1 and ascii  (  lower  (  substring   (    (  ...      1
22     select * from users where id  =  1 or \.<\ or ...      1
23                               admin" or "1"  =  "1"--      1
24      select * from users where id  =  1 or "%{" or...      1
25                                                insert      1
26      select * from users where id  =  1 or 1#"?  =...      1
27      select * from users where id  =  1 or "%?" or...      1
28      AND 1  =  utl_inaddr.get_host_address   (    ...      1
29      select * from users where id  =  1 or "?#" or...      1
30                                 or 1  =  1 or ""  =        1
31                             /**/or/**/1/**/  =  /**/1      1
32      select * from users where id  =  1 or ".  (  ...      1
33      select * from users where id  =  '1' union se...      1
34      select * from users where id  =  '1' union se...      1
35                                          or 1  =  1/*      1
36                                        %27 or 1  =  1      1
37      select * from users where id  =  1 <@&@ union...      1
38      select * from users where id  =  '1' union se...      1
39     1;  (  load_file  (  char  (  47,101,116,99,47...      1
40      select * from users where id  =  '1' or $ 1  ...      1
41     select * from users where id  =  1 or \.<1 or ...      1
42      select * from users where id  =  '1' or \<\ u...      1
43      select * from users where id  =  1 union sele...      1
44      select * from users where id  =  1 ||1 union ...      1
45     select * from users where id  =  '1' or \.<\ o...      1
46      select * from users where id  =  1 or "]{" or...      1
47      select * from users where id  =  1 or ".@" or...      1
48      select * from users where id  =  1 or "$[" or...      1
49                                              or 1 --'      1
50      select * from users where id  =  1 or ",;" or...      1
51                                    admin" or 1  =  1#      1
52      select * from users where id  =  1 +  (  1  )...      1
53                                      \x27UNION SELECT      1
54                                                 PRINT      1
55      select * from users where id  =  '1' union se...      1
56                                          or 1  =  1--      1
57                     1 or pg_sleep  (  __TIME__  )  --      1
58      select * from users where id  =  1 or ",#" or...      1
59                     admin'  )   or   (  '1'  =  '1'/*      1
60                                  or 2 between 1 and 3      1
61      select * from users where id  =  1 or "  )  ....      1
62      select * from users where id  =  1 or 1#". un...      1
63                                  admin' or '1'  =  '1      1
64     ; if not  (  select system_user  )   <> 'sa' w...      1
65      select * from users where id  =  1 union sele...      1
66                                       " or 0  =  0 --      1
67      select * from users where id  =  1 union sele...      1
68     select * from users where id  =  1 <@.$ or 1  ...      1
69      select * from users where id  =  1 or "%." or...      1
70      select * from users where id  =  1 + $+*$ uni...      1
71      select * from users where id  =  1 or ",." or...      1
72                              char%4039%41%2b%40SELECT      1
73      select * from users where id  =  1 or "1&" or...      1
74                        admin'  )   or   (  '1'  =  '1      1
75     declare @s varchar   (  200  )   select @s   =...      1
76                                         or 0  =  0 #"      1
77      select * from users where id  =  1 or ".]" or...      1
78                                )   or   (  'x'  =  'x      1
79      select * from users where id  =  1.<@$ union ...      1
80                                    $  (  sleep 50  )       1
81      select * from users where id  =  1 *1 union s...      1
82     1 union all select 1,2,3,4,5,6,name from sysob...      1
83      select * from users where id  =  1 or 1#". un...      1
84      select * from users where id  =  1 or 1#"; un...      1
85      select * from users where id  =  1 or 1#"? or...      1
86                                    "a"" or 1  =  1--"      1
87      select * from users where id  =  1 *1 union s...      1
88      AND 1  =  utl_inaddr.get_host_address   (    ...      1
89      select * from users where id  =  '1' union se...      1
90                 1 and user_name  (    )     =   'dbo'      1
91     ; if not  (  substring   (    (   select @@ver...      1
92      select * from users where id  =  1 or 1#"$ un...      1
93      select * from users where id  =  1 or 1#"{ un...      1
94     select * from users where id  =  '1' *$ . or 1...      1
95     select * from users where id  =  1 +$+. or 1  ...      1
96     select * from users where id  =  1 or   (  \+ ...      1
97      AND 1  =  utl_inaddr.get_host_address   (    ...      1
98                                or 1  =  1 or ''  =  '      1
99     select * from users where id  =  1   or 1  =  ...      1
100                                      or 'text' > 't'      1
101    1234 " AND 1  =  0 UNION ALL SELECT "admin", "...      1
102     select * from users where id  =  1 or "%[" or...      1
103     select * from users where id  =  1 or 1#";  =...      1
104                               admin' or '1'  =  '1'#      1
105    select * from users where id  =  1 +$ 1 or 1  ...      1
106                                                    s      1
107     AND 1  =  utl_inaddr.get_host_address   (    ...      1
108            select * from information_schema.tables--      1
109     select * from users where id  =  1 or "$&" or...      1
110        1   )    )    or pg_sleep  (  __TIME__  )  --      1
111     select * from users where id  =  '1' union se...      1
112    declare @q nvarchar   (  200  )   select @q   ...      1
113                               or 1  =  1 or ''  =  '      1
114    select * from users where id  =  1 %!<1 or 1  ...      1
115    declare @q nvarchar   (  200  )   select @q   ...      1
116     select * from users where id  =  1 or "]1" or...      1
117     select * from users where id  =  1 or $+<1 un...      1
118                         or 'unusual'   =   'unusual'      1
119                 or 1 in   (  select @@version  )  --      1
120                                             truncate      1
121                                                   as      1
122                                       or 3  =  3 --      1
123     select * from users where id  =  1 ||1 union ...      1
124     select * from users where id  =  1 <@$$ union...      1
125                       admin"  )   or   (  "1"  =  "1      1
126     select * from users where id  =  1 or 1#"@ un...      1
127    1  )   or benchmark  (  10000000,MD5  (  1   )...      1
128     select * from users where id  =  1 union sele...      1
129     AND 1  =  utl_inaddr.get_host_address   (    ...      1
130                                        or 0  =  0 #"      1
131    select * from users where id  =  1 %$ 1 or 1  ...      1
132    select * from users where id  =  1 %!<@ or 1  ...      1
133    ; if not  (  substring   (    (   select @@ver...      1
134                   1  )   or sleep  (  __TIME__  )  #      1
135     select * from users where id  =  1 or "1_" or...      1
136     select * from users where id  =  1 <1## union...      1
137     select * from users where id  =  1 + $+*\ uni...      1
138    select * from users where id  =  1. <@ or 1  =...      1
139                                            or true--      1
140        ; execute immediate 'sel' || 'ect us' || 'er'      1
141                                  hi' or 'x'  =  'x';      1
142    select * from users where id  =  1 <@ or 1  = ...      1
143     select * from users where id  =  1 or ".," or...      1
144                                             admin' #      1
145     select * from users where id  =  1 <@$_ union...      1
146     select * from users where id  =  1 or ",  (  ...      1
147     select * from users where id  =  1 or ",{" or...      1
148     union select 1,load_file  (  '/etc/passwd'  )...      1
149                "  )  ;waitfor delay '0:0:__TIME__'--      1
150                         or 'unusual'   =   'unusual'      1
151    insert into mysql.user   (  user, host, passwo...      1
152                              admin" or "1"  =  "1"/*      1
153     select * from users where id  =  1 or "1  (  ...      1
154     select * from users where id  =  1 or \<1 uni...      1
155                                                 like      1
156                   or username like char  (  37  )  ;      1
157            )    )    or pg_sleep  (  __TIME__  )  --      1
158    select * from users where id  =  1 or $+<\ or ...      1
159                                           or 3  =  3      1
160     select * from users where id  =  1 or "  (  ....      1
161    select * from users where id  =  1 or   (  $+ ...      1
162                                              exec sp      1
163     select * from users where id  =  1 or \+<$ un...      1
164    select * from users where id  =  1 or \<$ or 1...      1
165     select * from users where id  =  1.&&1 union ...      1
166                                  admin' or 1  =  1/*      1
167                          a' waitfor delay '0:0:10'--      1
168     select * from users where id  =  1 +  (  \  )...      1
169     select * from users where id  =  1 union sele...      1
170            and 1 in   (  select var from temp  )  --      1
171                          hi'  )   or   (  'a'  =  'a      1
172     AND 1  =  utl_inaddr.get_host_address   (    ...      1
173                                    admin" or 1  =  1      1
174                                     "  )   or true--      1
175     select * from users where id  =  '1' or $ .  ...      1
176     select * from users where id  =  1 or "  (  {...      1
177               1  )   or pg_sleep  (  __TIME__  )  --      1
178     select * from users where id  =  1 or "{." or...      1
179              "  )   or sleep  (  __TIME__  )    =  "      1
180    select * from users where id  =  1.<@. or 1  =...      1
181                    admin"  )   or   (  "1"  =  "1"--      1
182     select * from users where id  =  1<@.. union ...      1
183                                    ; exec xp_regread      1
184     select * from users where id  =  '1' + @ 1 un...      1
185    select * from users where id  =  1 + \+%1 or 1...      1
186     select * from users where id  =  1 or ";1" or...      1
187     select * from users where id  =  1 or "%&" or...      1
188                                        1 and 1  =  1      1
189                                         or 0  =  0 #      1
190    union select * from users where login   =   ch...      1
191     select * from users where id  =  1 union sele...      1
192                         admin'  )   or '1'  =  '1'--      1
193                                           1;SELECT *      1
194     select * from users where id  =  1 or "{;" or...      1
195    x' and 1  =    (  select count  (  *  )   from...      1
196     select * from users where id  =  '1' or ""<@ ...      1
197     select * from users where id  =  1 or "?," or...      1
198     select * from users where id  =  '1' ||1 unio...      1
199    1 or benchmark  (  10000000,MD5  (  1   )    )...      1
200                                            procedure      1
201                                          or ''  =  '      1
202     AND 1  =  utl_inaddr.get_host_address   (    ...      1
203     AND 1  =  utl_inaddr.get_host_address   (    ...      1
204                                   \'; desc users; --      1
205     select * from users where id  =  1 or   (  \....      1
206    select * from users where id  =  '1' or $ 1  =...      1
207                                            " or ""^"      1
208                                                  "-"      1
209     select * from users where id  =  1 or \<   = ...      1
210     select * from users where id  =  1 union sele...      1
211     select * from users where id  =  1 *\ union s...      1
212     select * from users where id  =  '1' or !<@ u...      1
213     select * from users where id  =  1 or ".%" or...      1
214                                             admin'/*      1
215     select * from users where id  =  1 or "  (  #...      1
216                                   ||UTL_HTTP.REQUEST      1
217     AND 1  =  utl_inaddr.get_host_address   (    ...      1
218     select * from users where id  =  '1'<@.. unio...      1
219    "   )    )    or benchmark  (  10000000,MD5  (...      1
220     select * from users where id  =  1 <@.$ union...      1
221     select * from users where id  =  1 or $ .  = ...      1
222    select * from users where id  =  '1' <@.$ or 1...      1
223                    1 uni/**/on select all from where      1
224     select * from users where id  =  1 +$ . union...      1
225     select * from users where id  =  1 or 1#"? un...      1
226                          admin'  )   or '1'  =  '1'#      1
227    ||utl_http.request  (  'httP://192.168.1.1/'  ...      1
228                                  or '7659'  =  '7659      1
229     select * from users where id  =  1 or "{@" or...      1
230     select * from users where id  =  1 union sele...      1
231     AND 1  =  utl_inaddr.get_host_address   (    ...      1
232     select * from users where id  =  1 or "  (  @...      1
233                                            or true--      1
234     select * from users where id  =  1 union sele...      1
235     select * from users where id  =  '1' union se...      1
236     select * from users where id  =  1 or 1#"{ un...      1
237                                          " or true--      1
238    select * from users where id  =  1. or 1  =  1...      1
239     select * from users where id  =  1 or @#",  =...      1
240     select * from users where id  =  1 or ";@" or...      1
241                                    â or 3  =  3 --      1
242     AND 1  =  utl_inaddr.get_host_address   (    ...      1
243     select * from users where id  =  1 +1 union s...      1
244     select * from users where id  =  1 or ",,"  =...      1
245     select * from users where id  =  1 + $+%1 uni...      1
246     select * from users where id  =  1 or 1#"? un...      1
247     select * from users where id  =  1 or "  )  1...      1
248                                       or uid like '%      1
249    select * from users where id  =  '1' <@&1 or 1...      1
250     select * from users where id  =  '1' union se...      1
251                                    23 or 1  =  1; --      1
252     select * from users where id  =  1 or \<\. un...      1
253     select * from users where id  =  1 or "{  (  ...      1
254     select * from users where id  =  1 or "%_" or...      1
255    select * from users where id  =  1 +   (  \.  ...      1
256     select * from users where id  =  '1' union se...      1
257                                         0 or 1  =  1      1
258    select * from users where id  =  1 &@ or 1  = ...      1
259                            admin"  )   or "1"  =  "1      1
260    select * from users where id  =  1 or \<   =  ...      1
261     select * from users where id  =  1 or "??" or...      1
262     AND 1  =  utl_inaddr.get_host_address   (    ...      1
263     AND 1  =  utl_inaddr.get_host_address   (    ...      1
264                                            &apos; OR      1
265                                             sqlvuln;      1
266    select * from users where id  =  1 + $+%$ or 1...      1
267    select * from users where id  =  '1' + $+%\ or...      1
268                                            " or ""*"      1
269                                    hi or 1  =  1 --"      1
270     select * from users where id  =  1. union sel...      1
271     ; exec master..xp_cmdshell 'ping 172.10.1.255'--      1
272     select * from users where id  =  '1' or 1^  =...      1
273     select * from users where id  =  '1' union se...      1
274            select * from information_schema.tables--      1
275    select * from users where id  =  1 or \<\. or ...      1
276                                      (  select top 1      1
277                                     Ã½ or 1  =  1 --      1
278                                                a' --      1
279                                        or 1  =  1 /*      1
280     select * from users where id  =  1 or 1#", un...      1
281     select * from users where id  =  '1' union se...      1
282                                                   --      1
283                 exec sp_addlogin 'name' , 'password'      1
284     select * from users where id  =  1   union se...      1
285    0x77616974666F722064656C61792027303A303A313027...      1
286     select * from users where id  =  1 or ".  )  ...      1
287     select * from users where id  =  1 or @<@  = ...      1
288                     group by userid having 1  =  1--      1
289     select * from users where id  =  1 + \+%1 uni...      1
290    select * from users where id  =  1 *1 or 1  = ...      1
291     select * from users where id  =  1 or @#";  =...      1
292                                      ‘ or 1  =  1 --      1
293     select * from users where id  =  1 *\. union ...      1
294    select * from users where id  =  1 %  (  @  ) ...      1
295                                        or 'a'  =  'a      1
296        declare @s varchar  (  22  )   select @s   =       1
297     select * from users where id  =  1 union sele...      1
298     select * from users where id  =  1 + \+*\ uni...      1
299     select * from users where id  =  1 or 1#". un...      1
300                                            @variable      1
301                           ; exec master..xp_cmdshell      1
302    select * from users where id  =  1 +  (  1  ) ...      1
303     select * from users where id  =  1 union sele...      1
304     select * from users where id  =  1 union sele...      1
305     select * from users where id  =  1 or  @$#  =...      1
306     select * from users where id  =  '1' or   (  ...      1
307            and 1 in   (  select var from temp  )  --      1
308     select * from users where id  =  '1' union se...      1
309     select * from users where id  =  1 or "1]" or...      1
310     select * from users where id  =  1 or "$?" or...      1